@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Poppins&family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --vartextcolor: #fff;
  --backgroundcolor: rgb(17, 23, 43);
}
body {
  background-color: rgb(17, 23, 43);
  position: relative;
}
h2 {
  font-family: "Roboto";
}
p {
  font-family: "Montserrat";
}
.header {
  width: 100%;
  background-color: rgb(174, 40, 211);
  display: flex;
  position: relative;
}
.header .nav-menu {
  display: flex;
  width: 100%;
  justify-content: center;
}
.header .buttons {
  width: 20%;
  display: flex;
  justify-content: center;
}
.header .buttons  a{
  background-color: rgb(174, 40, 211);
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.header .nav-menu li {
  list-style: none;
  margin: 10px;
  font-size: 1rem;
  padding: 10px;
  border-radius: 15px;
  transition: 0.5s all ease-in-out;
  font-family: "Open Sans";
}
.header .nav-menu li a {
  text-decoration: none;
  color: var(--vartextcolor);
}
.header .nav-menu li:hover {
  background-color: rgb(17, 23, 43);
}
section {
  padding: 20px;
}
.about-me {
  width: 100%;
  height: 100vh;
}
.about-me .content * {
  margin: 10px;
}
.about-me .content {
  color: #fff;
  width: 100%;
  padding: 15px;
  text-align: center;
}
.projects {
  color: #fff;
}
.projects-card {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-evenly;
}
.projects .card {
  position: relative;
  width: 400px;
  height: 550px;
  background-color: rgb(17, 23, 43);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}
.projects .card .img {
  position: relative;
  width: 100%;
  height: 290px;
  background-color: red;
  border-radius: 15px;
  overflow: hidden;
}
.projects .card .img img {
  width: 100%;
  height: 100%;
}
.projects .card .img::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 rgb(17, 23, 43);
}
.projects .card .img::after {
  content: "";
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 rgb(17, 23, 43);
}
.projects .card .content {
  position: relative;
  width: 100%;
  height: 250px;
  background-color: #232949;
  border-radius: 15px;
  border-top-left-radius: 0;
}
.projects .card .content .title-project {
  position: absolute;
  height: 80px;
  top: -80px;
  width: 50%;
  background: #232949;
  border-top: 10px solid rgb(17, 23, 43);
  border-right: 10px solid rgb(17, 23, 43);
  border-top-right-radius: 25px;
}
.projects .card .content .title-project::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -25px;
}
.projects .card .content .title-project::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -25px;
  width: 25px;
  height: 25px;
  background: transparent;
  border-radius: 50%;
  box-shadow: -10px 10px 0 #232949;
}
.projects .card .content .title-project a {
  position: relative;
  background: #fff;
  padding: 10px 20px;
  margin: 15px 15px;
  display: block;
  border-radius: 7px;
  font-weight: 600;
  text-decoration: none;
}
.projects .card .content p,
h4 {
  padding: 8px;
}
.skills {
  color: #fff;
}

.cards-skills {
  width: 100%;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.cards-skills .card {
  width: 250px;
  height: 250px;
  position: relative;
  color: #fff;
  border-radius: 50%;
  background: #444 linear-gradient(to right,transparent
  50%,var(--clr) 0);
  margin: 10px;

}
.cards-skills .card h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.5em;
    z-index: 1;
    font-weight: 500;
}
.cards-skills .card h3 span{
    font-size: 0.65em;
    font-weight: 400;
}
.cards-skills .card h4{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-weight: 500;
    color: var(--clr);
    text-transform: uppercase;
}
.cards-skills .card::before{
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;

}
.cards-skills .card::after{
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #222;
}
.cards-skills .card::before{
    background: var(--clr);
    transform: rotate(calc((var(--i) - 50) * 0.01turn));
}
.contact-me h2{
    color: #fff;
}
.social-network-list{
    width: 100%;
    list-style: none;
    background-color: var(--backgroundcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social-network-list::before{
    content: attr(data-text);
    transform: translate(-50%,calc(-50% + 120px));
    font-size: 10vh;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
}
.social-network{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 1px solid #fff;
    width: 85px;
    height: 85px;
    border-radius: 5px;
    overflow: hidden;
}
.social-network a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    text-decoration: none;
    color:#fff;
    transition: 1s;
}
.social-network a i{
    font-size: 3em;
}
.social-network a:hover.facebook{
    background: #3329f6;
}
.social-network a:hover.whatsapp{
    background: #13b016;
}
.social-network a:hover.whatsapp{
    background: #13b016;
}.social-network a:hover.linkedin{
    background: #1d8ed0;
}
.social-network a:hover.telegram{
    background: #1dbadd;
}

.footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: var(--backgroundcolor);
    border-top: #fff solid 1px;
}
.footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.footer .container .sec h2{
    position: relative;
    color: aliceblue;
    font-weight: 600;
    margin-bottom: 15px;
}
.footer .container .sec p{
    color: #9d5ceb;
}
.footer .container .sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
}
.footer .container .sci li {
    list-style: none;
}
.footer .container .sci li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #9d5ceb;
    display: grid;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.footer .container .sci li a i{
    color: #fff;
    font-size: 20px;
}
.footer .container .quicklinks{
    position: relative;
}
.footer .container .quicklinks ul li{
    list-style: none;
}
.footer .container .quicklinks ul li a{
    color: #9d5ceb;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.footer .container .contact .info{
    position: relative;
}
.footer .container .contact .info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.footer .container .contact .info li span{
    color: #9d5ceb;
    font-size: 20px;
}
.footer .container .contact .info li a{
    color: #9d5ceb;
    text-decoration: none;
}
@media (max-width:991px){
    .footer{
        padding: 40px;
    }
    .footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
}
@media (max-width:768px){
    .footer .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
}